- content ||= "Content"
= form_for @activity do |f|
  - if @activity.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activity.errors.count, "error")} prohibited this activity from being saved:"
      %ul
        - @activity.errors.full_messages.each do |msg|
          %li= msg
  = hidden_field_tag :type, params[:type]
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :summary
    = f.text_area :summary, rows: 7
  .field
    = f.label :begin_date
    = f.text_field :begin_date, value: Date.today, class: "datepicker"
  .field
    = f.label :end_date
    = f.text_field :end_date, class: "datepicker"
  - if @activity._type == "Education"
    .field
      = f.label :score
      = f.number_field :score
    .field
      = f.label :max_score
      = f.number_field :max_score
  .field
    = f.label :details
    %br
    = f.fields_for :details do |form|
      = render "/details/form", f: form, content: content
  .field
    = f.fields_for :address do |form|
      = render "/addresses/form", f: form
  .actions
    = f.submit 'Save'
