%h1 Listing activities

%table
  %tr
    %th Name
    %th Title
    %th Summary
    %th Begin date
    %th End date
    %th
    %th
    %th

  - @activities.each do |activity|
    %tr
      %td= activity.name
      %td= activity.title
      %td= activity.summary
      %td= activity.begin_date
      %td= activity.end_date
      %td= link_to 'Show', activity
      %td= link_to 'Edit', edit_activity_path(activity)
      %td= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Activity', new_activity_path
