%p#notice= notice

%p
  %b User:
  = @activity.user.email
%p
  %b Name:
  = @activity.name
%p
  %b Title:
  = @activity.title
%p
  %b Summary:
  = @activity.summary
%p
  %b Begin date:
  = @activity.begin_date
%p
  %b End date:
  = @activity.end_date

= link_to 'Edit', edit_activity_path(@activity)
\|
= link_to 'Back', activities_path
